.help-center {
    text-align: center;
    margin-top: 50px;
  }
  
  .help-center p {
    font-size: 1.4rem;
  }
  
  .email {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: blue;
    opacity: 1;
    position: relative; 
    display: inline-block; 
    animation: brighten 1s forwards 3s; 
  }
  
  .letter {
    display: inline-block;
    opacity: 0;
    animation: drop 1s forwards;
    animation-delay: calc(0.1s * var(--index)); 
  }
  
  @keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes brighten {
    0% {
      filter: brightness(1); 
    }
    100% {
      filter: brightness(2); 
    }
  }
  

  @keyframes underline {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  
  .email::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    height: 2px;
    background-color: blue;
    width: 0; 
    animation: underline 1s forwards 4s;
  }
  