
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    padding-top: 20px; 
}

.register-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}


form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 400px;
    width: 100%;
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 1.1rem;
    color: #555;
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #e6b9b9; 
    box-sizing: border-box;
    transition: border-color 0.3s ease, background-color 0.3s ease; 
}


input:focus {
    border-color: #f9f9f9;
    outline: none;
    background-color: #cfc0c0; 
}


input:-webkit-autofill {
    background-color: #e6b9b9 !important;
    -webkit-box-shadow: 0 0 0px 1000px #e6b9b9 inset !important; 
    color: inherit !important; 
}


.password-requirements {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0 0 0;
}

.password-requirements li {
    font-size: 0.9rem;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #b63037;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7b3344; 
}


p {
    font-size: 1rem;
    margin-top: 15px;
}

p[style*="green"] {
    color: green;
}

p[style*="red"] {
    color: red;
}


@media (max-width: 600px) {
    form {
        padding: 20px;
        max-width: 100%;
    }
}
